* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-image: url(./assets/star-wars-background.jpg);
  color: #FFE81F;
  font-family: arial;
  text-align: justify;
}

nav {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  /* margin: 20px; */
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

.homeContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* flex-wrap: wrap; */
}

.tileRow {
  width: 95%;
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -4px;
  font-style: italic;
  flex-wrap: wrap;
}

.pageRedirectTile {
  width: 50%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px #FFE81F solid;
  margin: 20px;
  border-radius: 15px;
  min-width: 260px;
}

.pageContent {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pageContent h2 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -4px;
  font-style: italic;
}

.linkContent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  overflow-x: hidden;
}

.tileContent {
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.tileContent h1 {
  font-style: italic;
}

.content{
  padding: 20px;

}

.homeContent {
  width: 100%;
}

.homeContent p {
  padding: 4px;
  line-height: 1.5rem;
}

img {
  max-height: 200px;
  max-width: 90%;
}

@media (max-width: 800px){
  .tileContent {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap;
  }
}